@{
    ViewData["Title"] = "Create Autor";
}

@model Autor

<h1>Dodaj Autora</h1>
<a asp-action="Index" class="btn btn-secondary">Powrót</a>
  
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>